body {
	font:12px/1.3em "Lucida Grande", Arial, sans-serif;
	color:#000;
/*	background: url(../images/clouds.jpg) repeat;*/
}
td {
	vertical-align: top;
}
.hover {
	background-color: rgba(200,226,242,1);
	-webkit-border-radius: 6px;
	cursor: -webkit-zoom-in;
}
.face {
	width: 128px;
	height: 128px;
}
.fullName, .company, .primaryCompany {
	font-size: 1.2em;
	font-weight: bold;
}
.secondaryCompany {
	font-size: 1em;
	font-weight: normal;
}
.missing {
	color: red;
}
.value>ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 0;
}
.value li {
	padding: 2px;
}